<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Index</title>
    </head>

    <body>
        <h1><%= title %></h1>
        
        <div id="todos">
            <%- include('todos') %>
        </div>

        <form action="/add" method="post">
            <h3>Přidat další</h3>
            <input type="text" name="text">
            <button type="submit">Uložit</button>
        </form>

        <script>
            const ws = new WebSocket('ws://localhost:3000')

            ws.addEventListener('open', function () {
                ws.send('hello from client')
            })

            ws.addEventListener('message', function (data) {
                const msg = JSON.parse(data.data)

                if (msg.type === "todos") {
                    document.getElementById('todos').innerHTML = msg.html
                }

                console.log('received', data)
            })
        </script>
    </body>
</html>