<table>
    <tr>
        <th>text</th>
        <th>hotovo</th>
        <th>smazat</th>
    </tr>

    <% for (const todo of todos) { %>
        <tr>
            <td>
                <%= todo.text %>
            </td>
            <td>
                <!-- emoji do kodu nepatri -->
                <% if (todo.done) { %>
                    <a href="undone/<%= todo.id %>">
                        ✅
                    </a>
                <% } else { %>
                    <a href="done/<%= todo.id %>">
                    ❌
                    </a>
                <% } %>
            </td>
            <td>
                <a href="delete/<%= todo.id %>">
                    (smazat)
                </a>
            </td>
        </tr>
    <% } %>
</table>